/*Light Theme*/
.theme-light {
  --primary-color: #f8f8f8;
  --secondary-color: #f2f2f2;
	--tertiary-color: #dddddd;
  --primary-font-color: #000000;
  --secondary-font-color: #262626;
	--border-color: ;
}

/*Dark Theme */
.theme-dark {
  --primary-color: #000000;
  --secondary-color: #1a1a1a;
	--tertiary-color: #222222;
  --primary-font-color: #f8f8f8;
  --secondary-font-color: #d9d9d9;
}

/*Global Styling*/
body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
  font-family: sans-serif;
	background-color: var(--primary-color);
}

/*Navbar*/
.navbar-custom {
  background-color: var(--primary-color); 
  color: var(--primary-font-color);
}
/*Navbar Brand*/
#navbar-logo {
  width: 10%;
  height: 15%;
}
#navbar a {
  color: var(--primary-font-color);
}
/*Theme Toggler*/
#theme-toggler {
  background-color: var(--primary-color);
  color:  var(--primary-font-color);
  transition: 0s;
	outline: none;
  box-shadow: none;
}
/*Sidebar Toggler Color*/
#navbar-toggler-icon {
  font-size: 28px;
  background-color: var(--primary-color);
  color:  var(--primary-font-color);
	outline: none;
  box-shadow: none;
}
/*Sidebar Options*/
#navbar-collapsed a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 16px;
  color: var(--primary-font-color);
  display: block;
  transition: 0.3s;
}
/*Text Color Change Animation of Options*/
#navbar-collapsed a:hover {
  color: var(--secondary-font-color);
}



/*Header*/
#start {
  background-color: var(--primary-color);
  color: var(--primary-font-color);
}
/*Main Logo*/
#logo {
  width: 65%;
  height: 70%;
}



/*Content*/
#content {
	background-color: var(--primary-color);
}
#content div {
	border-color: var(--tertiary-color);
}
.card div {
  background-color: var(--secondary-color);
  color: var(--primary-font-color);
}
.card-body a {
  color: var(--primary-font-color);
  text-decoration: none;
}
.card-body a:hover {
  color: var(--secondary-font-color);
}



/*Footer*/
#footer {
  background-color: var(--secondary-color);
  color: var(--primary-font-color);
}
#footer a {
	font-size: 16px;
  color: var(--primary-font-color);
  text-decoration: none;
}
#footer a:hover {
  color: var(--secondary-font-color);
}
